* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f4f6fb;
  color: #222;
}

/* Navbar */
.navbar {
  background: #0047ab;
  color: white;
  padding: 14px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left a,
.nav-right a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-right: 30px;
}

.register {
  background: #ea560d;
  /* color: #0047ab; */
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
}

/* Hero */
.hero {
  background: white;
  padding: 70px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.hero p {
  color: #555;
  margin-bottom: 35px;
}

/* Search Bar */
.search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-box i {
  font-size: 20px;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius:80px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);

}

.search-bar input {
  width: 240px;
  padding: 2px 18px;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-left: 2px solid #ccc;
}

.search-bar button {
  width: 100px;
  padding: 12px 20px;
  background: #0047ab;
  color: white;
  border: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

/* Jobs */
.jobs {
  padding: 40px 50px;
  height: 500px;
  width: 100%;
}

.job-all {
  height: 400px;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 30px;
  background-color: #b1c5fc56;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.jobs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.jobs-header span {
  color: #0047ab;
  font-weight: bold;
  cursor: pointer;
}

.job_img {
  height: 350px;
  width: 400px;
  position: absolute;
  left: 80px;
  bottom: 10px;
  background-image: url("images/role-collection-ot.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.job-grid {
  height: 380px;
  width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(74, 108, 255, 0.66);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: absolute;
  bottom: 10px;
  right: 120px;
}

/* Job Card */
.job-card {
  width: 220px;
  height: 160px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  transition: box-shadow 0.3s;
}

.job-card:hover {
  box-shadow: 0 6px 18px rgba(46, 4, 253, 0.733);
}

.job-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.company {
  font-weight: bold;
  color: #444;
}

.details {
  font-size: 14px;
  color: gray;
  margin: 8px 0;
}

.tag {
  display: inline-block;
  font-size: 12px;
  background: #eef3ff;
  color: #0047ab;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 6px;
  margin-top: 6px;
}

/* Footer */
.footer {
  background: white;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  font-size: 14px;
  color: gray;
}

.featured-companies {
  width: 92%;
  margin: 10px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px 0px;
}

.company-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.company-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.company-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.company-card img {
  height: 60px;
}

.rating {
  font-size: 14px;
  color: #f59e0b;
  margin-bottom: 6px;
}

.desc {
  height: 35px;
  width: 85%;
  font-size: 14px;
  color: #555;
  margin-bottom: 12px;
  text-align: center;
}

.company-card button {
  padding: 10px 16px;
  border: none;
  background: #dde7ff;
  color: #1500fc;
  font-size: 16px;
  font-size: 700;
  border-radius: 20px;
  cursor: pointer;
}

.company-card button:hover {
  background: #1d4ed8;
  color: white;
}

.company-rating {
  height: 100px;
  width: 85%;
  border-radius: 10px;
  background-color: rgba(145, 222, 255, 0.3);
  padding: 9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.company-rating h3 {
  height: 25px;
  width: 85%;
  text-align: center;
}


.companies {
  margin-left: 50px;
  margin-top: 20px;
}


